<div class="container">
  <h2 class="center">Angular Widgets</h2>
  <p class="center">An angularjs wrapper to make rendering and validation simple and easy.</p>
  <h3>Demo</h3>
  <p>To get started with Angular Widgets click <a href="https://github.com/PrasanthJayaraman/angular-widgets">here</a></p>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Form</h3>
      <p>* are required fields.</p>
      <form form-for="" model="user" name="myForm">
        <widget as="text" name="fname" label="First Name" required="true" min-len="2" max-len="20"></widget>
        <br>
        <widget as="text" name="lname" label="Last Name"></widget>
        <br>
        <widget as="number" name="age" label="Age" required="true" min-value="05" max-value="80"></widget>
        <br>
        <widget as="tel" name="phone" label="Phone Number" required="true" max-len="10"></widget>
        <br>
        <widget as="date" name="dob" label="Date of Birth" required="true" ></widget>
        <br>
        <widget as="email" name="email" label="Email Address" required="true"></widget>
        <br>
        <widget as="password" name="password" label="Password" required="true"></widget>
        <br>
        <widget as="password" name="cpassword" label="Confirm Password" required="true" match="password"></widget>
        <br>
        <widget as="url" name="website" label="Website" required="true"></widget>
        <br>
        <pre style="font-weight:600">user : {{user | json}}</pre>
        <br>
        <widget as="submit" value="Save" ></widget>
        <br>
        <widget-drop title="Select your favourite color" model="color" items="colorsList"></widget-drop>
        <br>
        <pre style="font-weight:600">color : {{color}}</pre>
        <br>
        <widget-radio title="Gender" model="gender" items="genderList"></widget-radio>
        <br>
        <pre style="font-weight:600">gender : {{gender | json}}</pre>
        <br>
        <widget-check title="Countries you travelled" model="countries" items="countryList"></widget-check>
        <br>
        <pre style="font-weight:600">countries : {{countries | json}}</pre>
        <br>
      </form>
    </div>
  </div>
</div>
